@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css);

html { }
body { margin: 0px; padding: 0px; background-color: #e4e4e4; color: #525252; font-size: 12px; font-family: "Trebuchet MS", sans-serif; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
* { -webkit-font-smoothing: antialiased; }

.ui-tb { display: table; width: 100%; }
.ui-tr { display: table-row; width: 100%; }
.ui-tc { display: table-cell; width: 100%; }
.ui-tal { text-align: left; }
.ui-tac { text-align: center; }
.ui-tar { text-align: right; }
.ui-vat { vertical-align: top; }
.ui-vam { vertical-align: middle; }
.ui-fl { float: left; }
.ui-fr { float: right; }
.ui-chinese { font-family: "cwTeXKai", serif; }
.ui-screen { position: absolute; display: inline-block; width: 100%; height: 100%; max-height: 100%; }
.ui-color1 { background-color: #619149; }
.ui-color2 { background-color: #3b4b80; }

.Background {  }

.Core { } 
.Core .header-height { height: 80px; }
.Core .public-shadow { 
-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}
.Core .header-height .Header { display: inline-block; width: 100%; height: 60px; background-color: white; padding: 10px 20px; line-height: 40px; }
.Core .header-height .Header .option { float:right; display: inline-block; width: 40px; height: 40px; background-color: #bebebe; border-radius: 20px; margin-left: 4px; }
.Core .header-height .Header .option .fa { color: white; }

.Core .body-height { height: auto; }
.Core .body-height .bpad { padding: 0px 20px; }
.Core .body-height .Window { display: inline-block; width: 100%; max-width: 960px; /* background-color: #F9F8F4; */ }
.Core .body-height .Window .header { background-color: white; padding: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom: 1px solid #E7E0D2; font-size: 18px; }
.Core .body-height .Window .body { background-color: #F9F8F4; padding: 20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.Core .body-height .Window .body .list { min-height: 400px; }
.Core .body-height .Window .body .list .static { border-bottom: 1px solid #E7E0D2; }
.Core .body-height .Window .body .list .row { padding: 2px 10px; }
.Core .body-height .Window .body .list .row:nth-child(2) { margin-top: 20px; }
.Core .body-height .Window .body .list .row .highlight { color: #79B3D4; font-weight: 600; }
.Core .body-height .Window .body .list .row .column { }
.Core .body-height .Window .body .list .row .review { float: right; width: 140px; }
.Core .body-height .Window .body .list .row .review .button { display: inline-block; height: 28px; width: 100%; background-color: #bbb; color: white; font-size: 12px; padding: 0px 10px; border-radius: 20px; line-height: 28px; cursor: pointer; }
.Core .body-height .Window .body .list .row .flexible { width: auto; overflow: hidden; }
.Core .body-height .Window .body .list .row .flexible .text { height: 28px; line-height: 28px; }
.Core .body-height .Window .body .list .row .flexible .wp75 { float: left; width: 70%; }
.Core .body-height .Window .body .list .row .flexible .wp25 { float: left; width: 30%; }
.Core .body-height .Window .body .buttons {  }
.Core .body-height .Window .body .buttons .button { display: inline-block; height: 40px; width: 100%; background-color: #79B3D4; color: white; font-size: 14px; padding: 0px 10px; border-radius: 20px; line-height: 40px; cursor: pointer; }

@media (max-width: 799px) {
}
